body {
  background: #1f2937;
  color: aliceblue;
  margin: 100px;
}
button {
  font-size: 20px;
  padding: 10px 20px;
}
div {
  margin: 10px;
}
#small-screen, #main-screen {
  background: aliceblue;
  color: #1f2937;
  width: 210px;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
}